[red] {
    background-color: #a33;
}

[orange] {
    background-color: #a73;
}

[yellow] {
    background-color: #aa3;
}

[green] {
    background-color: #3a3;
}

[blue] {
    background-color: #33a;
}

[violet] {
    background-color: #a3a;
}

[black] {
    background-color: #333;
}

[white] {
    background-color: #aaa;
}
