@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../img/map.jpg');
    background-attachment: fixed;
    background-size: 300%;
    box-shadow: inset 0 0 3rem 2rem rgba(0,0,0,0.75);
}

[portrait] {
    display: none;
}

@media screen and (max-width: 720px) {
    [desktop] {
        display: none !important;
    }

    body {
        height: 101%;
    }

    [portrait] {
        display: block;
        color: white;
        font-size: 1.5rem;
        text-align: center;
        margin: 4rem 2rem;
        text-shadow: 0 0 2rem rgba(0,0,0,1);
    }

    [portrait] [logo] {
        width: calc(100vw - 4rem);
    }

    [portrait] [icon] {
        width: 7rem;
        height: 7rem;
        margin: 2rem;
        border-radius: 0.5rem;
        box-shadow: 0.5rem 0.5rem 0.5rem 0 rgba(0,0,0,0.75)
    }

    @media screen and (orientation: portrait) {
        [landscape] {
            display: none !important;
        }
    }

    @media screen and (orientation: landscape) {
        [portrait] {
            display: none !important;
        }
    }
}

@media screen and (min-width: 720px) {
    [mobile], [protrait] {
        display: none !important;
    }
}

@keyframes scroll {
    0%, 100% {
        background-position: 2% 3%;
    }
    23% {
        background-position: 89% 22%;
    }
    48% {
        background-position: 78% 82%;
    }
    71% {
        background-position: 13% 72%;
    }
}

@keyframes fromTop {
    0% { transform: translate(0, -300px); }
    100% { transform: translate(0, 0); }
}

@keyframes fromBottom {
    0% { transform: translate(0, 300px); }
    100% { transform: translate(0, 0); }
}

@keyframes fromLeft {
    0% { transform: translate(-300px, 0); }
    100% { transform: translate(0, 0); }
}

@keyframes fromRight {
    0% { transform: translate(300px, 0); }
    100% { transform: translate(0, 0); }
}

@keyframes loading {
    0% { transform: translate(-200px, 0); opacity: 0; }
    10%, 60% { opacity: 1 }
    70%, 100% { transform: translate(200px, 0); opacity: 0; }
}

[help] {
    background: rgba(0,0,0,0.75);
    border-radius: 2rem;
    padding: 0.5rem 2rem;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    display: block;
    color: white;
    text-transform: uppercase;
}

[route] {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

[btn], [key], [search] {
    display: inline-block;
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
    margin: 0.5rem;
    text-align: center;
    color: white;
    border-radius: 0.25rem;
    cursor: pointer;
}

[key], [search] {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    background: white;
    padding: 0.5rem 1rem;
    letter-spacing: 1rem;
    box-shadow: 0 0 3rem 2rem rgba(0,0,0,0.5);
    text-transform: uppercase;
    animation: 0.5s ease-out fromLeft 1;
    border-radius: 0.25rem;
    border: 1px solid black;
    text-align: center;
}

[search]::placeholder {
    letter-spacing: 0rem;
}

[header] {
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    text-align: center;
    text-shadow: 0 0 2rem rgba(0,0,0,1);
    font-size: 3rem;
    animation: 0.5s ease-out fromTop 1;
}

[token] {
    height: 3rem;
    width: 3rem;
    border-radius: 2rem;
    margin: 1.5rem;
    display: inline-block;
    cursor: pointer;
    box-shadow: inset -0.25rem -0.5rem 1rem 0 rgba(0,0,0,0.5), 0 0 2rem 1rem rgba(0,0,0,0.5);
    animation: 0.5s ease-out fromBottom 1;
}

[landing] [btn], [join] [btn], [create] [btn], [display] [btn], [game] [btn] {
    box-shadow: inset 0 -1.5rem 0.5rem 0 rgba(0,0,0,0.25), 0 0 3rem 2rem rgba(0,0,0,0.5);
    min-width: 20%;
    animation: 0.5s ease-out fromBottom 1;
}

[landing] [logo] {
    width: 80%;
    background-color: rgba(0, 0, 0, 0.45);
    box-shadow: 0 0 3rem 2rem rgba(0,0,0,0.5);
    animation: 0.5s ease-out fromTop 1;
}

[find][btn], [start][btn] {
    animation-name: fromRight;
}

[loading] div {
    border-radius: 1rem;
    height: 1rem;
    width: 1rem;
    background: white;
    position: absolute;
    left: 50%;
    bottom: 20%;
    opacity: 0;
    animation: loading 2s cubic-bezier(0.2, 0.8, 0.8, 0.2) infinite;
    animation-delay: 0.3s;
    z-index: 999;
}

[loading] div:first-child { animation-delay: 0s; }
[loading] div:last-child { animation-delay: .6s; }

[btn][red] {
    background-color: #a33;
    border: 0.1rem solid #811;
}

[btn][blue] {
    background-color: #33a;
    border: 0.1rem solid #118;
}

[btn][green] {
    background-color: #3a3;
    border: 0.1rem solid #181;
}

[btn][yellow] {
    background: #aa3;
    border: 0.1rem solid #881;
}

[btn][disabled] {
    background-color: #aaa;
    border: 0.1rem solid #888;
    cursor: not-allowed;
}

[board] {
    background-image: url('../img/background.jpg');
    box-shadow: inset 0 0 0 100rem rgba(0,0,0,.25);
    background-size: 110%;
    background-position: center;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

[hide] {
    display: none !important;
}

[display] [players] {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 30rem;
    width: 50vw;
    max-width: 36rem;
}

[display] [deck] {
    position: absolute;
    bottom: -4rem;
    display: flex;
}

[display] [deck] [card] {
    margin: -2rem;
}

[game]:not([my-turn]) [routes] .new.route, [game]:not([my-turn]) [on-turn] {
    display: none;
}

[game]:not([my-turn]) [card] {
    pointer-events: none;
}

[game] [on-turn] {
    position: absolute;
    z-index: 1000;
    top: 0.5rem;
    padding: 0.5rem 2rem;
    background: rgba(0,0,0,0.75);
    border-radius: 5rem;
    color: white;
    font-size: 1.25rem;
    animation: show-then-shrink 2s linear;
}

@keyframes show-then-shrink {
    from, 75% { font-size: 8vw; top: 40vh; }
    to { font-size: 1.25rem; top: 0.5rem; }
}

[players], [selected], [hand], [deck], [routes] {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem;
}

[players] [player] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 2rem);
    margin: 0.5rem;
}

[players] [player][active] {
    border-bottom: 0.25rem solid white;
}

[players] [player] [token] {
    height: 1.5rem;
    width: 1.5rem;
    margin: 0.5rem;
    animation: none;
    box-shadow: none;
}

[players] [player] [info] {
    display: inline-block;
    width: 5rem;
}

[players] [player] span {
    text-align: right;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    margin-right: 1rem;
    padding-right: 2rem;
}

[players] [player] [score], [players] [player] [crown] {
    height: 1.8rem;
    background-image: url('../img/score.png');
}

[players] [player] [train-count] {
    height: 1.8rem;
    background-image: url('../img/train-count.png');
}

[players] [btn] {
    position: absolute;
    bottom: 0;
}

[display] [players] [btn] {
    bottom: -4rem;
}

[create] [players], [join] [players] {
    position: absolute;
    top: calc(50vh + 3rem);
    width: 50vw;
    min-width: 30rem;
}

[game] [card], [display] [card] {
    max-width: 12rem;
    width: 12vw;
    max-height: 16rem;
    height: 16vw;
    margin-right: 2rem;
    font-size: 3rem;
    box-shadow: -1rem 0 1rem 0 rgba(0,0,0,0.5);
    border-radius: 1rem;
    border: 0.5rem solid white;
    padding: 1rem;
    position: relative;
}

[game] [card]::before, [display] [card]::before {
    position: absolute;
    content: '';
    background-image: url('../img/train_overlay.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

[game] [card][back]::before, [deck] [card][back]::before {
    background-image: url('../img/train-count.png');
}

[deck] [card][back] {
    margin-left: 3rem;
}

[hand] [card] span {
    display: inline-block;
    background: black;
    border: 0.5vw solid white;
    padding: 0.5vw;
    min-width: 5vw;
    border-radius: 5vw;
    font-size: 2.5vw;
    position: absolute;
    right: -2.5vw;
    top: -2.5vw;
    text-align: center;
    font-weight: bold;
}

[routes] {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 100%;
  }
  
[routes] .route {
    position: relative;
    display: block;
    height: 15vw;
    width: 30vw;
    margin: 0.5vw;
    background: #995;
    color: white;
    border: 0.25rem solid black;
    box-shadow: inset 0 0 1vw 1vw rgba(0, 0, 0, 0.5);
    border-radius: 0.5vw;
    font-size: 2vw;
    overflow: hidden;
}

[routes] .chosen.route {
    border: 0.25rem solid white;
}

[routes] .new.route {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #663;
}

[routes] .new.route .worth {
    position: static;
    height: 10vw;
    width: 10vw;
}

[routes] .route .start, [routes] .route .end {
    position: absolute;
    top: 10%;
    left: 12%;
    text-transform: capitalize;
}
  
[routes] .route .end {
    top: 40%;
}
  
[routes] .route .start::before, [routes] .route .end::before {
    position: absolute;
    content: '';
    top: 0.75vw;
    left: -2vw;
    display: block;
    background: white;
    height: 1vw;
    width: 1vw;
    border-radius: 1vw;
}
  
[routes] .route .start::after {
    position: absolute;
    content: '';
    top: 1.5wh;
    left: -1.75vw;
    display: block;
    background: white;
    height: 2vw;
    width: 0.5vw;
}
  
[routes] .route .worth {
    position: absolute;
    font-size: 7vw;
    right: -1vw;
    bottom: -3vw;
    width: 14vw;
    height: 14vw;
    border-radius: 10vw;
    border: 1vw solid #fff7;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
[game] [players], [game] [hand], [game] [deck], [game] [routes] {
    position: absolute;
    left: 0;
    top: 0;
    height: auto;
    bottom: 4rem;
    width: 100%;
    z-index: 200;
    padding-top: 3rem;
}

[game] [players] {
    flex-direction: column;
    justify-content: flex-start;
}

[game] [choose][routes] {
    bottom: 0;
    background: rgba(0,0,0,0.75);
    z-index: 300;
}

[game] [selected] {
    z-index: 100;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    width: 20rem;
    max-width: 45vw;
    font-size: 1.25rem;
    border-radius: 0 0 0 1rem;
}

[game] [selected] span {
    float: right;
    margin-left: 1rem;
    text-transform: capitalize;
    display: block;
    margin-bottom: 0.25rem;
}

[game] [selected] span:last-of-type {
    margin-bottom: 1rem;
}

[game] [selected] [btn] {
    animation: none;
}

[game] [nav] {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    height: 4rem;
    background: rgba(0,0,0, 0.75);
}

[game] [nav] [btn] {
    flex: 1;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}
